@{
  Layout = "_Layout";
}
@await Html.PartialAsync("Footer")

@model Factory.Models.Machine

@if (@ViewBag.engineers.Count == 0)
{
  <h3>There are currently no engineers!</h3>
  <p>@Html.ActionLink("Add a new engineer!", "Create", "Engineers")</p>
}
else
{
  <h2>Add a engineer to this machine: @Html.DisplayFor(model => model.Name)</h2>

  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.MachineId)

    @Html.Label("Select engineer")
    @Html.DropDownList("EngineerId")

    <input type="submit" value="Save" />
  }
}
