@{
  Layout = "_Layout";
}
@await Html.PartialAsync("Footer")

@model Factory.Models.Engineer

@if (@ViewBag.machines.Count == 0)
{
  <h3>There are currently no machines!</h3>
  <p>@Html.ActionLink("Add a new machine!", "Create", "Machines")</p>
}
else
{
  <h2>Add a machine to this engineer: @Html.DisplayFor(model => model.Name)</h2>

  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.EngineerId)

    @Html.Label("Select machine")
    @Html.DropDownList("MachineId")

    <input type="submit" value="Save" />
  }
}