@{
  Layout = "_Layout";
}
@await Html.PartialAsync("Footer")

@using Factory.Models

<h3 style="text-align: center;">Welcome to Dr. Silly Stringz HQ!</h3>
<hr>

<div class="row">

  <div class="col-6">
    <h2>Engineers</h2>

    @if (@ViewBag.engineers.Count == 0)
    {
      <h4>No engineers have been added yet!</h4>
    }
    else
    {
      <ul>
        @foreach (Engineer engineer in ViewBag.engineers)
        {
          <li>@Html.ActionLink($"{engineer.Name}", "Details", "Engineers", new {id = engineer.EngineerId})</li>
        }
      </ul>
    }
    <p>@Html.ActionLink("Add a new engineer!", "Create", "Engineers")</p>
  </div>

  <div class="col-6">
    <h2>Machines</h2>

    @if (@ViewBag.machines.Count == 0)
    {
      <h4>No machines have been added yet!</h4>
    }
    else
    {
      <ul>
        @foreach (Machine machine in ViewBag.machines)
        {
          <li>@Html.ActionLink($"{machine.Name}", "Details", "Machines", new {id = machine.MachineId})</li>
        }
      </ul>
    }
    <p>@Html.ActionLink("Add a new machine!", "Create", "Machines")</p>
  </div>
</div>